.btn{
width:130px;
height: 40px;
background-color:transparent;
color: #fff;
cursor: pointer;
border:1px  solid white;


}
.iconp{
    color: cyan;
    margin:0 ;
    padding-top: 20px;
}
.back{
    background-color:#111827 ;
}
.cl{
    color: #fff;

}